:root {
    --main-color: #0B9586;
    /* #3CAB90 */
    --secondary-color: #FFBB1C;
    --text-color: white;
    --main-gap: 10px;
    --section-padding: 80px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* Akazan Font */
@font-face {
    font-family: Akazan;
    src: url(../fonts/akazan-bk-2\ \(1\).ttf);
}

/* @font-face {
    font-family: AkazanBold;
    src: url(../fonts/akazan-bold.ttf);
} */

/* Start Components */
.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.link {
    text-decoration: none;
    padding: 12px 34px;
    border-radius: 110px;
    border: none;
    font-size: 14px;
    color: black;
}

.title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #101828;
}

.title+p {
    color: #475467;
    line-height: 24px;
    text-align: center;
    margin-top: 24px;
}

/* End Components */

/* start header */
header {
    padding: 16px 0;
    background-color: var(--main-color);
    color: var(--text-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        gap: var(--main-gap);
    }
}

header .image {
    width: 157px;
    height: 54px;
}

header .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: var(--main-gap);
}

header ul li {
    padding: 8px 28px;
    cursor: pointer;
    font-size: 18px;
}

header ul li:hover {
    font-weight: 500;
}

header ul li.active {
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    border-radius: 5px;
}

@media (max-width: 767px) {
    header ul li {
        font-size: 16px;
        padding: 4px 10px;
    }
}

header .call p:first-child {
    text-align: end;
}

header .call p:last-child {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 991px) {
    header .call {
        display: none;
    }
}

/* end header */

/* start home section */
.home {
    background-image: url(../images/background-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home .container {
    position: relative;
    height: 100%;
}

.home .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--main-gap);
    position: absolute;
    top: 12.5%;
    transform: translateY(-12.5%);
    color: var(--text-color);
}

.home .progress .line {
    width: 200px;
    height: 3px;
    background-color: #575757;
    position: relative;
}

.home .progress .line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--text-color);
}

@media (max-width: 991px) {
    .home .progress {
        left: 50%;
        transform: translateX(-50%);
    }
}

.home .container .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    max-width: 670px;
    margin-right: 15px;
}

@media (max-width: 991px) {
    .home .container .content {
        text-align: center;
    }
}

.home .container .content h1 {
    font-size: 52px;
    font-weight: 600;
    text-transform: capitalize;
}

.home .container .content p {
    margin: 24px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1.3px;
}

@media (max-width: 767px) {

    .home .container .content h1 {
        font-size: 40px;
    }

    .home .container .content p {
        font-size: 18px;
    }
}

.home .container .content .link:first-of-type {
    color: var(--text-color);
    background-color: #3CAB90;
}

.home .container .content .link:last-of-type {
    margin-left: 10px;
    background-color: var(--secondary-color);
}

@media (max-width: 399px) {
    .home .container .content {
        display: flex;
        flex-direction: column;
    }

    .home .container .content .link:last-of-type {
        margin: 10px 0 0;
    }
}

/* end home section */

/* start friend section */

.friend {
    padding: var(--section-padding) 0;
}

.friend .container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 23px;
}

.friend .container .text {
    width: 50%;
}

.friend .container .text h2 {
    font-size: 42px;
    font-weight: 600;
}

.friend .container .text p {
    color: #475467;
    margin-top: 24px;
    line-height: 24px;
}

.friend .container .text ol {
    margin-top: 50px;
    counter-reset: myCounter;
    list-style: none;
    padding-left: 40px;
}

.friend .container .text ol li {
    counter-increment: myCounter;
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.friend .container .text ol li::before {
    content: "0" counter(myCounter) "/";
    position: absolute;
    left: -40px;
    font-weight: bold;
    color: #84BD3A;
}

@media (max-width: 991px) {
    .friend .container .text {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .friend .container .text p {
        text-align: center;
    }

    .friend .container .text h2 {
        text-align: center;
        font-size: 40px;
    }

    .friend .container .text ol {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .friend .container .text ol li,
    .friend .container .text ol li::before {
        font-size: 16px;
    }
}

.friend .container .image {
    width: fit-content;
    position: relative;
}

.friend .container .image img {
    display: block;
    margin-left: auto;
    height: 100%;
    width: 90%;
}

.friend .container .image .box {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 50%;
    padding: 24px 30px;
    border-radius: 12px;
    background-color: var(--secondary-color);
}

.friend .container .image .box i {
    font-size: 50px;
}

.friend .container .image .box p {
    font-family: Akazan;
    font-size: 18px;
    color: #2A3334;
    line-height: 20.95px;
    margin-top: 28px;
}

@media (max-width: 991px) {
    .friend .container .image {
        display: none;
    }
}

/* end friend section */

/* start power section */
.power {
    background-image: url(../images/bgr2.png);
    background-size: cover;
    background-position: center;
}

.power .container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.power .container .content {
    max-width: 670px;
    color: var(--text-color);
}

@media (max-width: 767px) {
    .power .container .content {
        text-align: center;
    }
}

.power .container .content h2 {
    font-size: 42px;
    font-weight: 600;
}

.power .container .content p {
    font-size: 20px;
    font-weight: 500;
    margin: 32px 0;
    letter-spacing: 1.3px;
    line-height: 28px;
}

@media (max-width: 767px) {
    .power .container .content h2 {
        font-size: 38px;
    }

    .power .container .content p {
        font-size: 18px;
    }
}

.power .container .content .link {
    background-color: var(--secondary-color);
    color: black;
}

/* end power section */

/* start kit section */

.kit {
    padding: var(--section-padding) 0px;
}

.kit .container .content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
}

.kit .container .content .item {
    box-shadow: 0px 4px 30px 0px #0000000d;
}

.kit .container .content .item img {
    width: 100%;
}

.kit .container .content .item .text {
    padding: 20px;
}

.kit .container .content .item .text h3 {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.kit .container .content .item .text p {
    margin: 24px 0;
    line-height: 24px;
    color: #475467;
}

.kit .container .content .item .text button {
    color: #3CAB90;
    font-weight: 600;
    line-height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.kit .container .content .item .text button i {
    margin-left: 8px;
}

/* end kit section */

/* start repair section */
.repair{
    background-image: url(../images/bng3.png);
    background-size: cover;
    background-position: center;
    padding: var(--section-padding) 0;
}

.repair .container .content{
    background-color: #00000091;
    backdrop-filter: blur(10px);
    padding: 44px;
    border-radius: 12px;
    width: 75%;
    margin: auto;
    color: var(--text-color);
    text-align: center;
}

@media (max-width: 991px){
    .repair .container .content{
        width: 100%;
    }
}

.repair .container .content h2{
    font-size: 42px;
    font-weight: 600;
}
.repair .container .content p{
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
@media (max-width: 991px) {
    .repair .container .content h2{
        font-size: 38px;
    }
    .repair .container .content p{
        font-size: 18px;
    }
}
/* start repair section */