:root {
    --main-color: #0B9586;
    --alt-color: #3CAB90;
    --secondary-color: #FFBB1C;
    --text-color: white;
    --paragraph-color: #475467;
    --small-gap: 10px;
    --big-gap: 32px;
    --section-padding: 80px;
    --border-radius: 12px;
    --paragraph-line-height: 24px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* Akazan Font */
@font-face {
    font-family: Akazan;
    src: url(../fonts/akazan-bk-2\ \(1\).ttf);
}

/* Start Components */
.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-btn {
    padding: 12px 34px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.main-btn:hover {
    font-weight: 600;
}

.title {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #101828;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .title {
        font-size: 38px;
    }
}

.title+p {
    color: var(--paragraph-color);
    line-height: var(--paragraph-line-height);
    text-align: center;
    margin-top: 24px;
}

.btn {
    color: var(--alt-color);
    font-size: 16px;
    font-weight: 600;
    line-height: var(--paragraph-line-height);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn i {
    margin-left: 8px;
}

.sub-title {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.sub-title+p {
    color: var(--paragraph-color);
    line-height: var(--paragraph-line-height);
}

/* End Components */

/* start header */
header {
    padding: 16px 0;
    background-color: var(--main-color);
    color: var(--text-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
        gap: var(--small-gap);
    }
}

header .image img {
    mix-blend-mode: multiply;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: var(--small-gap);
}

header nav ul li {
    padding: 8px 28px;
    cursor: pointer;
    font-size: 18px;
}

header nav ul li:hover {
    font-weight: 500;
}

header nav ul li.active {
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    border-radius: 5px;
}

@media (max-width: 767px) {
    header nav ul li {
        font-size: 16px;
        padding: 4px 10px;
    }
}

header .call p:first-child {
    text-align: end;
}

header .call p:last-child {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 991px) {
    header .call {
        display: none;
    }
}

/* end header */

/* start home section */
.home {
    background-image: url(../images/background-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home .container {
    position: relative;
    height: 100%;
}

.home .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--small-gap);
    position: absolute;
    top: 12.5%;
    transform: translateY(-12.5%);
    color: var(--text-color);
}

.home .progress .line {
    width: 200px;
    height: 3px;
    background-color: #575757;
    position: relative;
}

.home .progress .line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--text-color);
}

@media (max-width: 991px) {
    .home .progress {
        left: 50%;
        transform: translateX(-50%);
    }
}

.home .container .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    max-width: 670px;
    margin-right: 15px;
}

@media (max-width: 991px) {
    .home .container .content {
        text-align: center;
    }
}

.home .container .content h1 {
    font-size: 52px;
    font-weight: 600;
    text-transform: capitalize;
}

.home .container .content p {
    margin: 24px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

@media (max-width: 767px) {
    .home .container .content h1 {
        font-size: 40px;
    }

    .home .container .content p {
        font-size: 18px;
    }
}

.home .container .content .main-btn:first-of-type {
    color: var(--text-color);
    background-color: var(--alt-color);
}

.home .container .content .main-btn:last-of-type {
    margin-left: 10px;
    background-color: var(--secondary-color);
}

@media (max-width: 399px) {
    .home .container .content {
        display: flex;
        flex-direction: column;
    }

    .home .container .content .main-btn:last-of-type {
        margin: 10px 0 0;
    }
}

/* end home section */

/* start friend section */

.friend {
    padding: var(--section-padding) 0;
}

.friend .container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 23px;
}

.friend .container .text {
    width: 50%;
}

.friend .container .text h2 {
    font-size: 42px;
    font-weight: 600;
}

.friend .container .text p {
    color: var(--paragraph-color);
    margin-top: 24px;
    line-height: var(--paragraph-line-height);
}

.friend .container .text ol {
    margin-top: 50px;
    counter-reset: myCounter;
    list-style: none;
    padding-left: 40px;
}

.friend .container .text ol li {
    counter-increment: myCounter;
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.friend .container .text ol li::before {
    content: "0" counter(myCounter) "/";
    position: absolute;
    left: -40px;
    font-weight: bold;
    color: #84BD3A;
}

@media (max-width: 991px) {
    .friend .container .text {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .friend .container .text p {
        text-align: center;
    }

    .friend .container .text h2 {
        text-align: center;
        font-size: 40px;
    }

    .friend .container .text ol {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .friend .container .text ol li,
    .friend .container .text ol li::before {
        font-size: 16px;
    }
}

.friend .container .image {
    width: fit-content;
    position: relative;
}

.friend .container .image .large-img {
    display: block;
    margin-left: auto;
    height: 100%;
    width: 90%;
}

.friend .container .image .box {
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: 50%;
    padding: 24px 30px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.friend .container .image .box p {
    font-family: Akazan;
    font-size: 18px;
    color: #2A3334;
    line-height: 20.95px;
    margin-top: 28px;
}

@media (max-width: 991px) {
    .friend .container .image {
        display: none;
    }
}

/* end friend section */

/* start power section */
.power {
    background-image: url(../images/bgr2.png);
    background-size: cover;
    background-position: center;
}

.power .container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.power .container .content {
    max-width: 670px;
    color: var(--text-color);
}

@media (max-width: 767px) {
    .power .container .content {
        text-align: center;
    }
}

.power .container .content h2 {
    font-size: 42px;
    font-weight: 600;
}

.power .container .content p {
    font-size: 20px;
    font-weight: 500;
    margin: 32px 0;
    letter-spacing: 1.3px;
    line-height: 28px;
}

@media (max-width: 767px) {
    .power .container .content h2 {
        font-size: 38px;
    }

    .power .container .content p {
        font-size: 18px;
    }
}

.power .container .content .main-btn {
    background-color: var(--secondary-color);
    color: black;
}

/* end power section */

/* start kit section */

.kit {
    padding: var(--section-padding) 0px;
}

.kit .container .content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--big-gap);
}

.kit .container .content .item {
    box-shadow: 0px 4px 30px 0px #0000000d;
}

.kit .container .content .item img {
    width: 100%;
}

.kit .container .content .item .text {
    padding: 20px;
}

.kit .container .content .item .text h3 {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.kit .container .content .item .text p {
    margin: 24px 0;
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
}

/* end kit section */

/* start repair section */
.repair {
    background-image: url(../images/bng3.png);
    background-size: cover;
    background-position: center;
    padding: var(--section-padding) 0;
}

.repair .container .content {
    background-color: #00000091;
    backdrop-filter: blur(10px);
    padding: 44px;
    border-radius: var(--border-radius);
    width: 75%;
    margin: auto;
    color: var(--text-color);
    text-align: center;
}

@media (max-width: 991px) {
    .repair .container .content {
        width: 100%;
    }
}

.repair .container .content h2 {
    font-size: 42px;
    font-weight: 600;
}

.repair .container .content p {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

@media (max-width: 991px) {
    .repair .container .content h2 {
        font-size: 38px;
    }

    .repair .container .content p {
        font-size: 18px;
    }
}

/* start repair section */

.energy {
    background-color: #FFBB1C0D;
    padding: var(--section-padding) 0;
}

.energy .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--big-gap);
}

@media (max-width: 1200px) {
    .energy .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 991px) {
    .energy .container .box:first-child {
        text-align: center;
        font-size: 38px;
    }
}

.energy .container .box:first-child i {
    outline: 8px solid rgba(60, 171, 144, 0.15);
    color: var(--text-color);
    background-color: var(--alt-color);
    border-radius: 10px;
    font-size: 18px;
    padding: 13px 16px;
}

.energy .container .box:first-child h2 {
    margin: 20px 0;
    text-transform: none;
}

.energy .container .box:first-child p {
    color: var(--paragraph-color);
    font-size: 18px;
    margin-top: 0;
}

.energy .container .box:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--big-gap);
}

.energy .container .box:last-child .item {
    padding: 24px;
    height: fit-content;
    border: 1px solid var(--alt-color);
    border-radius: var(--border-radius);
    background-color: #3CAB900D;
    box-shadow: 0px 4px 30px 0px #0000000D;
}

.energy .container .box:last-child .item .image {
    background-color: #3CAB9026;
    border-radius: var(--border-radius);
    padding: 10px 0;
    margin-bottom: 32px;
}

.energy .container .box:last-child .item .image img {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: none;
    mix-blend-mode: luminosity;
}

.energy .container .box:last-child .item .text p {
    margin: 20px 0;
}

/* end energy section */

/* start value section */
.value {
    padding: var(--section-padding) 0;
}

.value .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--big-gap);
    margin-top: var(--big-gap);
}

.value .container .content .item {
    padding: var(--big-gap);
    border: 1px solid var(--alt-color);
    background-color: var(--alt-color)0D;
    border-radius: var(--border-radius);
}

@media (max-width:767px) {
    .value .container .content .item {
        text-align: center;
        padding: 20px;
    }
}

.value .container .content .item h3 {
    margin: 20px 0;
}

/* end value section */

/* start say section */

.say {
    padding: var(--section-padding) 0;
}

.say .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--big-gap);
}

.say .container .content .box:first-child {
    max-width: 35%;
}

@media (max-width: 991px) {
    .say .container .content .box:first-child {
        max-width: 40%;
    }
}

@media (max-width: 767px) {
    .say .container .content {
        flex-direction: column;
    }

    .say .container .content .box:first-child {
        max-width: 100%;
        text-align: center;
    }
}

.say .container .content .box:first-child i {
    font-size: 48px;
    color: var(--alt-color);
}

.say .container .content .box:first-child h2 {
    margin: 28px 0;
    font-size: 48px;
    line-height: 64px;
    color: #1C1C1C;
}

@media (max-width: 991px) {
    .say .container .content .box:first-child h2 {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .say .container .content .box:first-child h2 {
        font-size: 38px;
        line-height: 50px;
    }
}

.say .container .content .box:first-child p {
    color: #1C1C1C;
    font-size: 18px;
    line-height: 28px;
}

.say .container .content .box:last-child {
    flex: 1;
    background-color: #3CAB900F;
    padding: 40px;
    border-radius: calc(var(--border-radius)*2);

}

.say .container .content .box:last-child .head {
    display: flex;
    justify-content: space-between;
}

.say .container .content .box:last-child .head p {
    color: var(--alt-color);
    font-weight: bold;
}

.say .container .content .box:last-child .head ul {
    list-style: none;
    display: flex;
}

.say .container .content .box:last-child .head ul li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-left: 5px;
}

.say .container .content .box:last-child .head ul li:first-child {
    background-color: #6B6B6B;
}

.say .container .content .box:last-child .head+p {
    margin: 52px 0 87px;
    width: 75%;
}

@media (max-width: 991px) {
    .say .container .content .box:last-child .head+p {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .say .container .content .box:last-child .head+p {
        margin: 52px 0 70px;
    }
}

.say .container .content .box:last-child .foot {
    display: flex;
    align-items: center;
}

.say .container .content .box:last-child .foot .info {
    color: #1C1C1C;
    line-height: 19.36px;
    margin-left: 8px;
    flex: 1;
}

@media (max-width: 767px) {
    .say .container .content .box:last-child .foot {
        flex-direction: column;
        gap: var(--small-gap);
    }

    .say .container .content .box:last-child .foot .info {
        text-align: center;
    }
}

.say .container .content .box:last-child .foot .info p:first-child {
    font-weight: bold;
    margin-bottom: 9px;
}

.say .container .content .box:last-child .foot .icons {
    margin-left: auto;
}

.say .container .content .box:last-child .foot .icons img {
    padding: 8px 13px;
    border: 1px solid #1C1C1C;
    border-radius: 50%;
    cursor: pointer;
}

.say .container .content .box:last-child .foot .icons img:first-child {
    margin-right: 16px;
}

@media (max-width: 991px) {
    .say .container .content .box:last-child .foot .icons img {
        padding: 6px 11px;
    }

    .say .container .content .box:last-child .foot .icons img:first-child {
        margin: 0 8px
    }
}

@media (max-width: 767px) {
    .say .container .content .box:last-child .foot .icons {
        margin: auto;
    }

    .say .container .content .box:last-child .foot .icons img:first-child {
        margin-right: 8px;
    }
}

/* end say section */

/* start footer */
footer {
    padding: var(--section-padding) 0;
    background-color: #283646;
}

footer .container .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@media (max-width: 991px) {
    footer .container .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 32px;
    }
}

footer .container .content .box:first-child img {
    mix-blend-mode: luminosity;
}

footer .container .content .box:first-child ul {
    list-style: none;
    display: flex;
    gap: 36px;
    margin-top: 38px;
}

@media (max-width: 991px) {
    footer .container .content .box:first-child ul {
        gap: 24px;
    }
}


footer .container .content .box:first-child ul li a {
    text-decoration: none;
    color: var(--text-color);
    line-height: var(--paragraph-line-height);
}

@media (max-width: 767px) {
    footer .container .content .box:first-child ul {
        gap: 10px;
    }

    footer .container .content .box:first-child ul li a {
        font-size: 14px;
    }
}

footer .container .content .box:last-child {
    width: 40%;
}

@media (max-width: 991px) {
    footer .container .content .box:last-child {
        width: 80%;
    }
}

footer .container .content .box:last-child label {
    color: var(--text-color);
    line-height: var(--paragraph-line-height);
}

footer .container .content .box:last-child .email {
    margin-top: 8px;
    display: flex;
    background-color: #FFFFFF17;
    border: 1px solid #B3BDC7;
    border-radius: 38px;
}

footer .container .content .box:last-child .email input {
    border: none;
}

footer .container .content .box:last-child .email input:first-child {
    background-color: transparent;
    padding: 0 20px;
    caret-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

footer .container .content .box:last-child .email input:first-child::selection {
    background-color: var(--secondary-color);
}

footer .container .content .box:last-child .email input:first-child:focus {
    outline: none;
}

footer .container .content .box:last-child .email input:first-child::placeholder {
    line-height: var(--paragraph-line-height);
    color: #92989F;
}

footer .container .content .box:last-child .email input:last-child {
    padding: 12px 34px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 38px;
    margin-left: auto;
}

footer .container .foot {
    margin-top: 54px;
    padding-top: 50px;
    border-top: 1px solid #71777D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    footer .container .foot {
        flex-direction: column;
        gap: var(--small-gap);
    }
}

footer .container .foot ul {
    list-style: none;
    display: flex;
    gap: var(--small-gap);
}


footer .container .foot ul li a {
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px solid #92989F;
}

footer .container .foot ul li:last-child a {
    border: none;
    padding-right: 0;
}

footer .container .foot ul li a,
footer .container .foot p {
    color: #92989F;
    font-size: 12px;
    line-height: 16px;
}

@media (max-width: 767px) {
    footer .container .foot ul {
        gap: 8px;
    }

    footer .container .foot ul li a {
        padding-right: 8px;
    }

    footer .container .foot ul li a {
        font-size: 11px;
    }
}

/* end footer */